<div class="row">
  <div class="col-md-6 col-sm-6 mb-2">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header__title">Rechercher Région</h4>
        <div *ngIf="submittedSearch" class="text-danger text-center">
          <b><i>Veuillez saisir au moins un champs</i></b>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="searchRegionForm" (ngSubmit)="searchRegion()">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" placeholder="Nom" formControlName="nom">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <label>Pays</label>
                <select class="form-control" formControlName="pays">
                  <option value="">Choix pays</option>
                  <option *ngFor="let pay of pays" value="{{pay.id}}">{{pay.nom}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <label>Activation</label>
                <select class="form-control" formControlName="active">
                  <option value="">Choix activation</option>
                  <option value="1">OUI</option>
                  <option value="0">NON</option>
                </select>
              </div>
            </div>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-ena">Rechercher</button>
            <button type="button" class="btn btn-danger" (click)="effacerSearchChamps()">Effacer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 mb-2">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header__title">Ajouter Région</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="editRegionForm" (ngSubmit)="addRegion()">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" placeholder="Nom" formControlName="nom"
                  [ngClass]="{'is-invalid': submitted && f.nom.errors}">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <label>Pays</label>
                <select class="form-control" formControlName="pays"
                  [ngClass]="{'is-invalid': submitted && f.pays.errors}">
                  <option value="">Choix pays</option>
                  <option *ngFor="let pay of pays" value="{{pay.id}}">{{pay.nom}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <label>Activation</label>
                <select class="form-control" formControlName="active"
                  [ngClass]="{'is-invalid': submitted && f.active.errors}">
                  <option value="">Choix activation</option>
                  <option value="1">OUI</option>
                  <option value="0">NON</option>
                </select>
              </div>
            </div>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-ena">Ajouter</button>
            <button type="button" class="btn btn-danger" (click)="effacerChamps()">Effacer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header__title">Liste des Régions</h4>
        <div>
          <select id="nombre-element" #nombre (change)="getIpp(nombre.value)">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-sm">
          <thead class="text-center">
            <tr>
              <th>Nom</th>
              <th>Pays</th>
              <th>Activation</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let region of regions | paginate : {itemsPerPage: ipp, currentPage: p}">
              <td>{{region?.nom}}</td>
              <td>{{region?.pays.nom}}</td>
              <td>{{region?.active == true ? 'OUI' : 'NON'}}</td>
              <td><a type="button" class="btn btn-secondary" (click)="getRegion(region)"><i
                    class="fa fa-edit"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-right" *ngIf="regions">
          <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
